<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapping page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	
	<script>
	
	function requestData()
                    {
                        // Ajax call to get the Data from Flask
                        var requests = $.get('/totalload');
						
            
                        var tm = requests.done(function (result)
                        {
							console.log("this is result")
							console.log(result)
							data1 = result;
                            
							$(".sensor1").text("Total Load : " +  data1 +" KW");
							
							
							setInterval(requestData, 5000);
						})
						}
requestData();		

	
	</script>
	
	
</head>
<body>
	
		{% include 'navbar.html' %}
	<div class="body1" style="margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: center;
    background-size: cover
	overflow: auto">
    <div class="main2" style="border: solid black 1px;
							  
   min-width: 300px;
    width: fit-content;
    margin: 40px;
    height: 200px;
    overflow: auto">
            <div class="header" style="text-align: center;"><h1 style="font-size: medium;"> GMBS </h1></div>
		<hr>
        
        <div class="meter 1">
			<div class="meter_data">
				<div class="meterID">
					
					<img src="{{url_for('static', filename='electric_meter_1.png')}}"width="50px" height="40px" align="center" ><span class="sensor1">Total Load:</span>
					</div>
				
			</div>
		</div>
		<br>
		
		
		<div>
			<center>
			<a  href="{{ url_for('gmbs') }}"><button class="glow-on-hover" type="button">Access</button></a>
			</center>
			
			
			
		</div>
		

        


    </div>
    <div class="gap"> </div>
    <div class="main2" style="border: solid black 1px;
							  
   min-width: 300px;
    width: fit-content;
    margin: 40px;
    height: 200px;
    overflow: auto">
            <div class="header" style="text-align: center;"><h1 style="font-size: medium;"> MSDS </h1></div>
		<hr>
        
        <div class="meter 1">
			<div class="meter_data">
				<div class="meterID" >
					
					<img src="{{url_for('static', filename='electric_meter_1.png')}}"width="50px" height="40px" align="center" ><span class="sensor2">Total Load: N/A</span>
					</div>
				
			</div>
		</div>
		<br>
		
		
		<div>
			<center>
			<a  href="{{ url_for('msds') }}"><button class="glow-on-hover" type="button" >Access</button></a>
			</center>
			
			
			
		</div>
		

        


    </div>
	</div>
	
	
		
		
	
	
	
		
</body>

<style>
	body{
    background-position:top;
		
    
    background-size:cover;
background-repeat: no-repeat;
    background-image: url("/static/transmission2.jpg")   
}

	.main{
    border: solid black 1px;
    
    }

.main2{
    
    
}
.meter{
    display: flex;
    padding: 5px;
    gap: 10px;
    font-size: small;
}
.img{
    text-align: center;
}
.meter_data{
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
	font-weight: bold;
}
	.index{
	font-size:13px;
    display: flex;
    gap: 20px;
	font-weight: bold;
	}
.select{
    display: none;
}
.gap{
    display: none;
    min-width: 40px;   
}
	.meterloc{
   font-weight: bold;  
}
	
		.glow-on-hover {
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
</html>
